<app-nav-menu></app-nav-menu>
<div class="main-header">
    <h1>Tips and Tricks</h1>
    <p>This is a description of the tips and tricks page for exercises.</p>
</div>
<div class="section">
    <div class="row">
        <h3>Exercises to Look For</h3>
        <p>description</p>
        <!-- Put image here -->
    </div>
    <div class="row">
        <!-- Put image here -->
         <h3>Safety</h3>
         <p>description</p>
    </div>
    <div class="row">
        <h3>Beginners Options</h3>
        <p>description</p>
        <!-- Put image here -->
    </div>
</div>