<app-nav-menu></app-nav-menu>
<div class="main-header">
    <h2>Exercises</h2>
    <p>Description about exercises page.</p>
</div>
<div class="exercise-section">
    <ul>
        <li class="exercise-header">
            <h5 class="exercise-name">Exercise Name</h5>
            <h5 class="exercise-muscle">Exercise Muscle</h5>
            <h5 class="exercise-description">Exercise Description</h5>
        </li>
        <li *ngFor="let exercise of exercises" class="exercise">
            <h5 class="exercise-name">{{exercise.name}}</h5>
            <h5 class="exercise-muscle">{{exercise.muscle}}</h5>
            <h5 class="exercise-description">{{exercise.description}}</h5>
        </li>
    </ul>
</div>