<app-nav-menu></app-nav-menu>
<div class="main-header">
    <h1>Fitness Helper</h1>
    <p>This is a description of what this web application does.</p>
</div>
<div class="section">
    <h2>Exercise</h2>
    <div class="row">
        <div class="column">
            <h3>Workouts</h3>
            <p>Workouts description</p>
        </div>
        <div class="column">
            <h3>Exercises</h3>
            <p>Exercises description</p>
        </div>
        <div class="column">
            <h3>Tips and Tricks</h3>
            <p>Tips and Tricks description</p>
        </div>
    </div>
</div>

<div class="section">
    <h2>Food</h2>
    <div class="row">
        <div class="column">
            <h3>Pantry</h3>
            <p>Pantry description</p>
        </div>
        <div class="column">
            <h3>Food</h3>
            <p>Food description</p>
        </div>
        <div class="column">
            <h3>Recipes</h3>
            <p>Recipes description</p>
        </div>
        <div class="column">
            <h3>Tips and Tricks</h3>
            <p>Tips and Tricks description</p>
        </div>
    </div>
</div>